---
import HeaderForPosts from "../components/HeaderForPosts.astro";
import IngredientsAndInstructions from "../components/IngredientsAndInstructions.astro";

export interface Props {
    body: string;
}

const { body } = Astro.props;
---

<!-- <Layout title={"The Cook Book"}> -->
<section>
    <h2 class="doubleI">Ingredients</h2>
    <ul role="list" class="ingredientsList">
        <li>{body}</li>
        <li>{body}</li>
        <li>{body}</li>
        <li>{body}</li>
        <li>{body}</li>
        <li>{body}</li>
    </ul>
    <h2 class="doubleI">Instructions</h2>
    <ul role="list" class="instructionsList">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</section>

<!-- </Layout> -->

<style>
    .doubleI {
        font-size: 30px;
        margin-left: 40px;
    }

    .ingredientsList {
        background-color: rgb(146, 153, 139);
        width: 80%;
        margin: auto;
        line-height: 200%;
    }

    .instructionsList {
        list-style: decimal;
        width: 80%;
        margin: auto;
        line-height: 200%;
        background-color: rgb(146, 153, 139);

    }
</style>
