---
import HeaderForPosts from "../components/HeaderForPosts.astro";

export interface Props {
	img: string;
	title: string;
	href: string;
	body: string;
}

const { img, title, href, body } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<HeaderForPosts title="THE COOK BOOK" />
		<main class="container">
			<img src={img} />
			<h1 title={title}></h1>
			<slot />

			<!-- <IngredientsAndInstructions body={body} /> -->
		</main>

		<!-- <Footer /> -->
	</body>
</html>

<style>
	
	html {
		font-family: "Montserrat", sans-serif;
		background-color: #d6d8d2;
	 
	}

	main {
		padding-top: 20px;
		margin: auto;
		width: 100%;
		background-color: rgb(211, 230, 213);
		text-align: center;
		border-radius: 0.5rem;
	}

	ul {
		width: 100%;
		text-align: left;
		background-color: rgb(60, 143, 216);
	}

	body {
		width: 90%;
	}
</style>
