---
import BlogBody from '../components/BlogBody.astro';
import HeaderForPosts from '../components/HeaderForPosts.astro';

export interface Props {
	image: string;
	title: string;
	body: string;
}

const { img, title, href } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet"
        />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<HeaderForPosts title="THE COOK BOOK"/>
		<BlogBody href={href} title={title} image={img} body="dupa"/>
		<slot />
		<!-- <Footer /> -->
	</body>
</html>
<style>
	:root {
		--accent: 217, 86, 43;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#dac455 30%,
			white 60%
		);
	}
	html {
		font-family: "Montserrat", sans-serif;
		background-color: #d6d8d2;

	}

</style>
